:root{
    --default-color:#1D85AF;
    --sub-color:#fff;
}
.fill{
background-image: url(./cartas-de-poker.png);
position: relative;
height: 250px;
width: 250px;
top: 5px;
left: 5px;
cursor: pointer;
}
div{
    border-radius: 8px;
}
.hold{
border: solid 5px var(--default-color);
}

.empty{
        display: inline-block;
        height: 260px;
        width: 260px;
        margin: 10px;
        border: solid 3px var(--default-color);
        background: var(--sub-color);

}

.hovered{
    background: var(--default-color);
    border-style: dashed;
}